.employee{
	text-align:center;
	h2{
		font-size:32px;
	}
	.not_find{
		display: flex;
		justify-content: center;
		align-content: space-between;
		align-items: center;
		flex-direction: column;
		width: 100wh;
		height: 100vh;
		font-size:44px;
	}
	.ant-form-horizontal{
		width:600px;
		margin: auto;
	}
	@media(max-width: 700px) {
		.ant-form-horizontal{
			width:100%;
		}
	}
}