.main-page{
	.ant-list-item-content {
		text-align:center;
	}
	.heading{
		text-align:center;
	}
	.filter{
		padding:10px;
		text-align:center;
		button{
			width:100%;
		}
		.buttonConteiner{
			padding:5px;
		}
		.ant-form-item-label{
			text-align:center;
		}
	}
	.ant-list-item:hover{
		background-color:#e4e4e4;
	}
	@media(max-width: 600px) {
		.filter{
			.ant-radio-group{
				width:100%;
				label{
					width:50%;
				}
			}
		}
	}
}
